<?xml version="1.0" encoding="UTF-8"?>
<suite name="codeingRound" parallel="tests"
	thread-count="1">

	<listeners>
		<listener class-name="reporting.TakeScreenshot" />
		<listener class-name="reporting.TestNGError" />
	</listeners>
	
	<test name="FlightBooking" preserve-order="true">
		<classes>
			<class name="code.FlightBookingTest">
				<methods>
					<include name="testThatResultsAppearForAOneWayJourney" />
				</methods>
			</class>
		</classes>
	</test>
	
	<test name="HotelBooking" preserve-order="true">
		<classes>
			<class name="code.HotelBookingTest">
				<methods>
					<include name="shouldBeAbleToSearchForHotels" />
				</methods>
			</class>
		</classes>
	</test>
	
</suite>